@model WebAppReporteriayQuejas.Puesto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Puesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Des_Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Funciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Funciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Puesto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
