@model WebAppReporteriayQuejas.Servidor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servidor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Servidor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
